@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
        /* Définissez la position initiale de l'élément */
    }

    to {
        opacity: 1;
        top: 0;
        /* Définissez la position finale de l'élément */
    }
}

.fade-in-out {
    position: relative;
    animation: fadeInUp 0.4s ease-out;
    /* Réglez la durée de l'animation et la courbe d'accélération selon vos besoins */
}