<div class="h-full">
    <app-nav [isScrolled]="isScrolled"></app-nav>
    <div [ngClass]="{'top-hot': isScrolled}">
        <ng-container *ngIf="locations$ | async as locationsData">
            <card-list [data]="locationsData"></card-list>
        </ng-container>
    </div>
</div>