<div id="default-carousel" class="relative w-full h-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden rounded-lg md:h-96">
    <!-- Carousel items using *ngFor -->
    <div *ngFor="let img of data; let i = index" class="hidden duration-700 ease-in-out h-72"
      [class.active]="i === currentSlideIndex" data-carousel-item>
      <img [src]="img"
        class="absolute sm:block rounded-lg block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 h-full object-cover"
        alt="Slide {{ i + 1 }}">
    </div>
  </div>
  <!-- Slider indicators using *ngFor -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button *ngFor="let img of data; let i = index" type="button" class="w-3 h-3 rounded-full"
      [attr.aria-current]="i === currentSlideIndex ? true : null" [attr.aria-label]="'Slide ' + (i + 1)"
      [attr.data-carousel-slide-to]="i" (click)="changeSlide(i)">
    </button>
  </div>
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-30 items-center justify-center h-full px-4 cursor-pointer hidden hover:flex"
    data-carousel-prev (click)="prevSlide()" [ngClass]="{'hidden': !btnLeft}">
    <div class="p-2 rounded-full" style="background-color: rgba(255, 255, 255, 0.842);">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
        focusable="false"
        style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
        <path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path>
      </svg>
    </div>
  </button>
  <button type="button"
    class="absolute top-0 end-0 z-30 items-center justify-center h-full px-4 cursor-pointer group focus:outline-none hidden hover:flex"
    data-carousel-next (click)="nextSlide()" [ngClass]="{'hidden': !btnRight}">
    <div class="p-2 rounded-full" style="background-color: rgba(255, 255, 255, 0.842);">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
        focusable="false"
        style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;">
        <path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path>
      </svg>
    </div>
  </button>
</div>