<div *ngIf="showModal" class="bg-white py-8 px-36 shadow-2xl shadow-black absolute z-40 rounded-3xl" style="top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);">
    <lit-datepicker no-range></lit-datepicker>
</div>