<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-h-full" style="width: 568px;">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <button *ngIf="!isRegister; else backBtn" type="button"
                    class="start-0 text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-6 h-6 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="authentication-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <ng-template #backBtn>
                    <button (click)="loginView()" type="button"
                        class="start-0 text-black bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-6 h-6 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"
                            role="presentation" focusable="false"
                            style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                            <path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </ng-template>

                <h3 class="font-semibold text-gray-900 dark:text-white w-full text-center">
                    {{title}}
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 overflow-y-scroll" *ngIf="!isRegister; else registerBlock" style="height: 29rem;">
                <div class="text-xl font-bold pb-5">
                    Bienvenue sur Airbnb
                </div>
                <form class="space-y-4" action="#">
                    <div>
                        <input type="email" name="email" id="email"
                            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Adresse e-mail" *ngIf="!isLogin" [(ngModel)]="user.email">
                        <input type="password" name="new-password" id="new-password"
                            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Mot de passe" *ngIf="isLogin" [(ngModel)]="user.password">
                    </div>
                    <div>
                        <button type="button" (click)="verifyEmailLogin()"
                            class="bg-gradient w-full rounded-md font-bold py-3">{{ isLogin? 'Se connecter':
                            'Continuer'}}
                            <div role="status" *ngIf="loading" class="inline-block ml-2">
                                <svg aria-hidden="true"
                                    class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
                                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                        fill="currentColor" />
                                    <path
                                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                        fill="currentFill" />
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="_16fq9mb">ou</div>
                    <button type="button" *ngFor="let item of socialMedia"
                        class="flex justify-between items-center px-5 border border-black hover:bg-gray-100 w-full rounded-md py-3">
                        <div><img [src]="item.icon" [alt]="item.title" width="20" height="20"></div>
                        <div class="w-full text-center">{{ item.title }}</div>
                    </button>
                </form>
            </div>
            <ng-template #registerBlock>
                <div class="p-4 md:p-5 overflow-y-scroll" style="height: 29rem;">
                    <div>
                        <input type="text" name="firstname" id="firstname"
                            class="h-12 rounded-t-lg border-b-0 border border-gray-300 text-gray-900 text-sm focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Prénom" required [(ngModel)]="user.firstname">
                        <input type="text" name="lastname" id="lastname"
                            class="h-12 border border-gray-300 text-gray-900 text-sm rounded-b-lg focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Nom" required [(ngModel)]="user.lastname">
                        <p class="text-xs text-gray-400 mt-2 mb-6">Assurez-vous qu'il correspond au nom figurant sur
                            votre pièce
                            d'identité.</p>
                    </div>
                    <div>
                        <input type="date" name="birthday" id="birthday"
                            class="h-12 rounded-lg border border-gray-300 text-gray-900 text-sm focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Date de naissance" required [(ngModel)]="user.birthday">
                        <p class="text-xs text-gray-400 mb-6">Vous devez avoir au moins 18 ans pour vous inscrire. Nous
                            n'indiquerons pas la date de votre anniversaire aux autres
                            utilisateurs Airbnb.</p>
                    </div>
                    <div>
                        <input type="email" name="mail" id="mail"
                            class="h-12 rounded-lg border border-gray-300 text-gray-900 text-sm focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Adresse e-mail" required [(ngModel)]="user.email">
                        <p class="text-xs text-gray-400 mb-6">Nous vous enverrons les confirmations et les reçus de
                            voyage
                            par e-mail.</p>
                    </div>
                    <div>
                        <input type="password" name="password" id="password"
                            class="h-12 rounded-lg border border-gray-300 text-gray-900 text-sm focus:text-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            placeholder="Mot de passe" required [(ngModel)]="user.password">
                        <div *ngIf="user.password && user.password.length < 6" class="text-red-500 text-sm mt-1">
                            Le mot de passe doit avoir au moins 6 caractères.
                        </div>
                    </div>
                    <p class="text-xs text-gray-400 mt-6 mb-6">En cliquant sur Accepter et continuer, j'accepte les
                        Conditions
                        générales, les
                        Conditions de service relatives aux
                        paiements, la Politique de non-discrimination et je reconnais avoir pris connaissance de la
                        Politique de
                        confidentialité
                        d'Airbnb.</p>
                    <button (click)="register('email')" type="button"
                        class="bg-gradient w-full rounded-md font-bold py-3 mb-6">
                        Accepter et continuer
                        <div role="status" *ngIf="loading" class="inline-block ml-2">
                            <svg aria-hidden="true"
                                class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-red-600"
                                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor" />
                                <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="currentFill" />
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                    <hr />
                    <p class="text-xs mt-6 mb-4 text-gray-400">Airbnb vous enverra des offres réservées aux membres, des
                        idées, des e-mails
                        promotionnels et des notifications push.
                        Vous pouvez désactiver cette option à tout moment dans les paramètres de votre compte ou
                        directement à partir de la
                        notification promotionnelle.</p>
                    <div>
                        <input type="checkbox" name="condition" id="condition">
                        <span class="text-xs text-gray-400">
                            Je ne souhaite pas recevoir de messages promotionnels d'Airbnb.
                        </span>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>