._16fq9mb::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-right: 16px !important;
}

._16fq9mb::after {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-left: 16px !important;
}

._16fq9mb {
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin: 16px 0px !important;
    font-size: 12px;
}