<router-outlet style="display: block;height: 100%;"></router-outlet>
<div style="    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 999;width: 20rem;">
    <app-toast></app-toast>
</div>