.overflow-x-scroll{
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.bg-gradient-white-left{
  background: linear-gradient(to right, white 57px, rgb(255 255 255/0));
  position: absolute;
  top: 169px;
  left: 18px;
  z-index: 12;
}
.bg-gradient-white-right{
  background: linear-gradient(to right,rgb(255 255 255/0),white 30px);
  position: absolute;
  top: 169px;
  right: 135px;
}
.btn-slide{
  top: 0px!important;
}
.airbnb-logo{
  color: var(--color-primary);
  width: 26%;
}
.menu-right{
  svg{
    width: 32px!important;
  }
}
.lang{
  border-radius: 50%;
  padding: 10px 3px;
}
.btn-hover:hover{
    background: rgb(238, 237, 237);
}
.hide {
  display: none;
  opacity: 0;
  transition: opacity 2s, display 2s;
}
.fix{
  position: fixed;
  right: 0;
  left: 0;
}
.sous-menu{
  position: fixed;
  top: 86px;
  right: 0;
  left: 0;
  margin: 0!important;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  border-top: solid 1px #e5e7eb;
  border-bottom: solid 1px #e5e7eb;
}
