<div *ngIf="showModal" class="bg-white p-8 shadow-2xl shadow-black absolute z-40 rounded-3xl"
    style="width: 490px;top: 165px;margin-left: -32px;">
    <h4 class="font-bold">Recherche par région</h4>
    <div class="grid grid-cols-3 gap-4 mt-7">
        <div *ngFor="let item of carte">
            <img [src]="item.icon" alt="carte" class="rounded-2xl border hover:border-black">
            <p class="text-sm">{{ item.title }}</p>
        </div>
    </div>
</div>