<div *ngIf="showModal" class="bg-white px-8 py-6 shadow-2xl shadow-black absolute z-40 rounded-3xl"
    style="top: 165px;margin-left: -32px;">
    <div class="flex justify-between items-center py-4 border-b"
        [ngClass]="{'flex-col': item.title == 'Animaux domestiques'}" *ngFor="let item of age">
        <div class="pe-20">
            <h5 class="font-bold">{{ item.title }}</h5>
            <p class="text-sm">{{ item.description }}</p>
        </div>
        <div>
            <button class="p-2 border rounded-full hover:border-black" (click)="decrement(item)">
                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                    focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                    <path d="m.75 6.75h10.5v-1.5h-10.5z"></path>
                </svg>
            </button>
            <span class="mx-4">{{item.value}}</span>
            <button class="p-2 border rounded-full hover:border-black" (click)="increment(item)">
                <svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                    focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                    <path d="m6.75.75v4.5h4.5v1.5h-4.5v4.5h-1.5v-4.5h-4.5v-1.5h4.5v-4.5z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>