<div *ngIf="test" class="bg-white py-3 shadow-2xl shadow-gray-500 absolute rounded-xl cursor-pointer"
    style="top: 80px; z-index: 100;right: 5rem;">
    <ng-container *ngIf="!isLogin; else profilActive">
        <div class="py-2 hover:bg-gray-100 px-4 text-sm" (click)="openModal()">
            Connexion
        </div>
        <div class="border-b py-4 hover:bg-gray-100 px-4 text-sm">Inscription</div>
        <div class="pt-4 pb-2 hover:bg-gray-100 px-4 text-sm">
            Cartes cadeaux
        </div>
        <div class="py-2 hover:bg-gray-100 px-4 text-sm">
            Mettre mon logement sur Airbnb
        </div>
        <div class="py-2 hover:bg-gray-100 px-4 text-sm">
            Centre d'aide
        </div>
    </ng-container>
</div>
<ng-template #profilActive>
    <div class="py-2 hover:bg-gray-100 px-4 text-sm font-medium">
        Messages
    </div>
    <div class="py-4 hover:bg-gray-100 px-4 text-sm font-medium">Voyages</div>
    <div class="border-b pt-4 pb-2 hover:bg-gray-100 px-4 text-sm font-medium">
        Favoris
    </div>
    <div class="py-2 hover:bg-gray-100 ps-4 pe-20 text-sm">
        Gérer mes annonces
    </div>
    <div class="border-b py-2 hover:bg-gray-100 px-4 text-sm">
        Compte
    </div>
    <div class="py-2 hover:bg-gray-100 px-4 text-sm">
        Cartes cadeaux
    </div>
    <div class="py-2 hover:bg-gray-100 px-4 text-sm">
        Centre d'aide
    </div>
    <div class="py-2 hover:bg-gray-100 px-4 text-sm" (click)="logout()">
        Déconnexion
    </div>
</ng-template>
<modal-auth (active)="actives($event)"></modal-auth>