body {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #FF385C;
  --bg-gradient: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
}

.bg-airbnb {
  background-color: var(--color-primary);
  color: white;
}

.bg-gradient {
  background: var(--bg-gradient);
  color: white;
}

.block-ui-wrapper {
  background: transparent !important;
}