<div class="px-11 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-7">
  <div *ngFor="let item of data" class="max-w-sm bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <div style="z-index: 100;position: relative;top: 35px;left: 88%;z-index: 37;width: 1.5rem;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
        focusable="false"
        style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: var(--f-mkcy-f); stroke-width: 2; overflow: visible;">
        <path
          d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z">
        </path>
      </svg>
    </div>
    <div class="h-100">
      <app-carousel [data]="imgs"></app-carousel>
    </div>
    <div class="py-5">
      <a href="#">
        <h5 class="text-md font-bold tracking-tight text-gray-900 dark:text-white">{{item.title}}</h5>
      </a>
      <p class="text-sm font-normal text-gray-700 dark:text-gray-400">{{item.subtitle}}</p>
      <!-- <p class="mb-2 text-sm font-normal text-gray-700 dark:text-gray-400">4 - 9 Février</p> -->
      <p class="text-sm font-normal text-gray-700 dark:text-gray-400"><b>{{item.price}} €</b> par nuit</p>
    </div>
  </div>
</div>